
<h2>Lista de productos</h2>
<ul>
  <li *ngFor="let producto of productos">
    
    {{ producto.name }}  
    <br />
    <img
      *ngIf="producto.images.length > 0"
      [src]="producto.images[0].src"
      width="300"
    /><br />
    {{ producto.price }}€
    <br>
    <a [routerLink]="['/Descripcion', producto.id]" routerLinkActive="active">
      <button class="botonn">Ver detalles del producto</button></a>
     <a routerLink="/Carrito" routerLinkActive="active"><button class="boton" (click)="agregarAlCarrito(producto)">Añadir a carrito</button></a>
  </li>
</ul>
