<div *ngIf="productosSelected as producto" class="producto-detalle">
  <h2>{{ producto.name }}</h2>
  <div class="imagen">
    <img 
      *ngIf="producto.images?.[currentImageIndex]?.src" 
      [src]="producto.images[currentImageIndex].src"
      alt="Imagen del producto"
    />
  </div>

  <div class="info">
    
    <p>Descripcion: <span [innerHTML]="productosSelected.description"></span></p>
    <p class="precio">{{ producto.price }}€</p>
    <button class="comprar">Comprar</button>
  </div>
</div>

<div *ngIf="!productosSelected">
  <p>Producto no encontrado o cargando...</p>
</div>
