<section class="hero">
    <img src="https://media.licdn.com/dms/image/v2/C4E12AQFls95OiskkcA/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1537830779366?e=2147483647&v=beta&t=-17mscPUtUNVZCth6r6Ia9bZBfSmLjOfekEbgpsErYc" />
    <div class="hero-content">
      <h1>Bienvenido a Mi Tienda Online</h1>
      <p>Los mejores productos, al mejor precio. ¡Compra fácil, rápido y seguro!</p>
      <a href="#productos" class="boton-hero">Ver productos</a>
    </div>
  </section>
  
